html {
    font-size: 14px;
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.loginSection {
    float: right;
    margin-right: 20%;
}

a {
    color: #0077cc;
}

.progress-indicator {
    padding-top: 300px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btnGroup {
    text-align: right;
    margin: 20px;
    margin-right: 3%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

input, select, textarea {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 97% !important;
}

.main-container {
    width: 65%;
    min-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding-top: 60px;
}

    .main-container .multi-line {
        white-space: pre-line;
    }

.invalid-feedback {
    margin-top: -10px;
    margin-bottom: 20px;
}

.nav-container {
    text-align: left;
    padding-left: 10%;
    display: inline-block !important;
}

    .nav-container img {
        width: 108px;
    }

    .nav-container span {
        font-weight: 600;
        font-size: 18px;
        margin-left: 10px;
    }

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

    .footer select {
        width: 350px !important;
        margin: 20px !important;
        display: inline-block;
    }

    .footer span, .footer a {
        font-size: 11px;
    }